.Chat{
    flex:0.65; /*0.35 sidebar ko diya hai*/
display:flex;
flex-direction: column;
}
.Chat_header{
    display:flex;
    padding:20px;
    align-items: center;
    border-bottom: 1px solid #7c3bc5d8;
}
.Chat_header_info{
    flex:1;
    /* bina yeh padding saare icon bgl me the ab left me hai */
    padding-left: 20px;
}
.Chat_headerRight{
    display:flex;
    justify-content: space-between;
    min-width: 100px;
}
.Chat_body{
background-color: rgb(96, 28, 160);
flex: 1;
background-repeat: repeat;
background-position: center;
padding:30px;
overflow: scroll;
}
 .chat_message{
position: relative;
font-size: 16px;
padding: 10px;
background-color: rgb(24, 5, 43);
width: fit-content;
}
.chat_name{
    position: absolute;
    top: -15px;
    font-weight: 800;
    font-size: xx-small;
}
.time_stamp{
    margin-left: 10px;
    font-weight: 800;
    font-size: xx-small;
}
.chat_receiver{
    margin-left: auto;
    background-color: rgb(39, 4, 136);
}
.Chat_footer{
display: flex;
justify-content: space-around;
align-items: center;
height:62px;
border-top: 1px solid #fff;
}