
*{
  /* bilkul bhi jgah nhi chodega */
  margin: 0%;
}
.App{
  color:wheat;
  /* background-color:rgba(10, 10, 10, 0.966); */
/* background-color: rgb(96, 64, 124); */
background-color: rgb(220, 198, 240);
  place-items: center;
  height:100vh;
  /* abhi tk beech me nhi aaya ,ab ayega */
  display:grid;
}
.app_body{
  display: flex;
  background-color: rgb(96, 28, 160);
  /* background-color: rgba(66, 64, 64, 0.658); */

  height: 90vh;
  width: 90vw;
  box-shadow:-2px 4px 20px -6px rgba(219, 231, 233, 0.603);
}